# =========================================================
# ENVIRONMENT / SECRETS
# =========================================================

.env
.env.*
!.env.example
.env.save


# =========================================================
# PYTHON
# =========================================================

__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd


# =========================================================
# VIRTUAL ENVIRONMENTS
# =========================================================

venv/
.venv/
env/


# =========================================================
# IDE
# =========================================================

.vscode/
.idea/


# =========================================================
# OS
# =========================================================

.DS_Store
Thumbs.db


# =========================================================
# LOGS
# =========================================================

*.log


# =========================================================
# LOCAL DATABASE / DATA
# =========================================================

*.db
*.sqlite
*.sqlite3