{% extends "base.html" %}

{% block title %}
Misuki
{% endblock %}

{% block content %}

<section class="section">
    <div class="container">

        <a class="manage-back" href="/dashboard" data-i18n="license.back_to_dashboard">
            ← Back to Dashboard
        </a>

        <div class="card manage-card">

            <div class="manage-server-header">
                {% if guild.icon %}
                    <img class="server-icon" src="https://cdn.discordapp.com/icons/{{ guild.id }}/{{ guild.icon }}.png?size=128" alt="">
                {% else %}
                    <div class="server-icon-placeholder">{{ guild.name[0] }}</div>
                {% endif %}

                <div class="manage-server-info">
                    <h1>{{ guild.name }}</h1>
                    <div class="server-id">{{ guild.id }}</div>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}